<div class="views-view--noticias-2--block-circulares container">
  <div class="bloque-circulares-wrapper">
    <h2 class="bloque-titulo">Circulares</h2>
    <div class="linea-decorativa"></div>

    <div class="row">
      {% for row in rows %}
        <div class="col-md-6 mb-4">
          <div class="panel panel-default h-100 shadow-sm">
            <div class="panel-body">
              <small class="text-muted d-block mb-1">
                {{ row.content['field_fecha_de_autoria'] }}
              </small>
              <h4 class="mt-2">
                {{ row.content['field_titulo'] }}
              </h4>
              <a href="#" class="btn btn-link mt-2">Leer más</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
